<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact the developer about the SNB app at the
  <a href="https://api.whatsapp.com/send?phone=#{admin.phone}&widget_hash=75698c0aa3b01bba00ffd5bc824aa29d">Contact Developer</a>.
</p>